/* Enter your custom styles here */
.distritoid{
    text-shadow: slateblue;
}

.contenRowIconTable{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.img{
    padding-top: 25px;
  }
