.contenRowIconTable {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.customDialogClass .sapMDialogScrollCont {
  border: 2px solid transparent;
  border-radius: 4px;
  animation: dialogBlink 1s infinite;
}

@keyframes dialogBlink {
  0% {
    border-color: red;
    box-shadow: 0 0 10px red;
  }

  50% {
    border-color: white;
    box-shadow: none;
  }

  100% {
    border-color: red;
    box-shadow: 0 0 10px red;
  }
}
.jello-horizontal {
  animation: jello-horizontal .9s linear both
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1)
  }

  30% {
    transform: scale3d(1.25, .75, 1)
  }

  40% {
    transform: scale3d(.75, 1.25, 1)
  }

  50% {
    transform: scale3d(1.15, .85, 1)
  }

  65% {
    transform: scale3d(.95, 1.05, 1)
  }

  75% {
    transform: scale3d(1.05, .95, 1)
  }

  100% {
    transform: scale3d(1, 1, 1)
  }
}